<div class="main">
  <form [formGroup]="dobForm">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input formControlName="dob" matInput [matDatepicker]="fromPicker" />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button color="primary" (click)="calculate()">
        Calculate
      </button>
    </div>
    <br /><br />
    <div class="row" *ngIf="timeDiff" style="color: white">
      {{ "Your age is " + timeDiff }}
    </div>
  </form>
</div>
